/*HEIGTH 100%*/
html,body{height: 100%;}
.bloco{min-height: 100%; padding-top: 94px}

/*COLORS*/
.blue-logo{background-color: #2dc7d0;}

/*LOGO*/
.logo_text{font-size: 0px;margin: 0;}
.logo_img{width: 100px;margin-top:15px}

/*MENU*/
.navbar{
    background-color: transparent;
}
.navbar ul a:hover{background-color: transparent; color: #2dc7d0;transition: background 0.5s linear;}
.nav-color{
  background-color: rgba(0, 0, 0, 0.7);
  transition: background 0.5s linear;
}
.nav-padding{
  padding: 0 5%;
}

.row{
  margin-bottom: 0;
}

/*HOME*/
.home{animation:mudarbg 20s infinite; background-image: url('../img/bg.jpg');background-repeat: no-repeat;
    background-size: cover;}
.banner h2 {font-size: 2.5rem;font-weight: 900;text-transform: uppercase;}
.banner p {font-size: 1.2rem;line-height: 1.8rem;}

/*HOME - ANIMATION*/
@keyframes mudarbg {
    40% {background-image:url('../img/bg2.jpg');}
    80% {background-image:url('../img/bg3.jpg');}
    100%{background-image: url('../img/bg.jpg');}
}

/*TITULO E PARAGRAFO*/
.titulo{
  font-size: 2rem;
  text-transform: uppercase;
}

.titulo::after{
  content: '';
  display: block;
  width: 100px;
  border-top:1px solid #2dc7d0;
  margin: 15px auto;
}
.paragrafo{
  line-height: 1.8rem;
}

/*SOBRE*/
.sobre{
    background-image: url('../img/textura1.png')
}

.sobre p{
  line-height: 1.8rem;
  text-align: justify;
}
.sobre .missao-visao-valores{
  padding: 20px 0px;
  margin-top: 35px
}
.sobre .missao-visao-valores .icon{
  color: #fff
}
.sobre .missao-visao-valores h3{
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}
.sobre .missao-visao-valores p {
  color: #fff;
  text-align: center;
}

/*SERVIÇOS*/
.servicos{
  background-image: url('../img/textura2.png')
}


.servicos h3{
  font-size: 2rem
}
.servicos .btn-horario{
  padding-bottom: 20px;
  margin-top: 20px;
}

/*UNIDADES*/
.unidades{
  background-image: url('../img/bg-unidades.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.unidades article p{
  line-height: 1.8rem;
}

/*CONTATO*/
.contato{
  background-image: url('../img/textura1.png')
}
.contato h4{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}
.contato .mapa{
  min-height: 560px;
}
.contato .mapa iframe{
  width: 100%;
  min-height: 560px;
  border: none;
}
.contato .informacoes{
  background-image: url('../img/textura2.png');
  min-height: 560px;
  padding: 30px;
}
.contato .formulario{
  min-height: 560px;
  padding: 30px;
}

/*DEPOIMENTOS*/
.depoimentos .titulo::after{border-color: #fff}
.depoimentos img {width: 100px;}
.depoimentos h4{
  font-size: 1.2rem;
  font-weight: 900;
}

/*RODAPE*/
.rodape{
  background-image: url('../img/bg-rodape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}

/*CUSTOM*/

nav.nav-extended .nav-wrapper {
    min-height: 94px;
    height: auto;
  }

.navbar-fixed {
    position: absolute;
    height: 94px;
  }

.side-nav{
    background: url('../img/textura2.png');
}

.side-nav li a{
    color: whitesmoke;
    font-weight: 100;
}

nav,nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons, nav a.button-collapse i {
    height: 94px;
    line-height: 94px;
  }

  .tabs .tab a {
    color: black;
  }

  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #2dc7d0;
}

.tabs .indicator {
  background-color: #2dc7d0;
}

.card{
  margin: 1rem;
}



/*MEDIA*/
@media only screen and (max-width: 480px) {
  .card-image-horizontal{
    display: none;
  }
}
  
@media only screen and (min-width: 601px) {
    .banner {padding-top: 4.5rem}
    .banner h2{font-size: 4rem}
  }

@media only screen and (min-width: 993px) {
    .banner {padding-top: 5rem}
    .banner h2{font-size: 5rem}
}

